/* weather.js */
.weatherIcons {
  height: 6.5rem;
}

/* Alt header */
.FadedHeader {
  height: 12rem;
  background: linear-gradient(
    to bottom,
    rgb(22, 22, 22),
    rgba(22, 22, 22, 0.8),
    rgb(22, 22, 22, 0.6),
    rgb(22, 22, 22, 0.3)
  );
}
